html{
    position: relative;
}

html,body{
    min-width: 1100px;
    color: #2c3a46;
    background: #fff;
    font-size: 14px;
    line-height: 1.6em;
    font-family: Arial, Helvetica, "Pingfang SC","Microsoft","YaHei",STHeiti,Verdana,Arial,Tahoma,sans-serif

}

.header .header-container .btn-login{
    width: 80px;
    height: 30px;
    line-height: 28px;
    display: inline-block;
    border: 1px solid #2b90ed;
    color: #2b90ed;
    text-align: center;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}



.header .header-container .btn-register{
    width: 80px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    background-color: #2b90ed;
    color: #ffffff;
    text-align: center;
    border-radius: 2px;
    cursor: pointer;
}

body{
    margin: 0px;
    padding: 0px;
    border: 0px;
    display: block;
}
.container{
    margin: 0 auto;
    width: 1100px;
}

li {
    text-align: -webkit-match-parent;
}
ul {
    /* width: 774px; */
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.header{
    width: 100%;
    min-width: 1100px;
    height: auto;
    position: relative;
    background: #ffffff;
    border-bottom: 1px solid #ededed;
    box-shadow:0px 1px 4px rgba(0,0,0,0.1);
    z-index: 200;
    transition: all 0.5s ease-in
}

.header a{
    text-decoration: none;
}

.header div{
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a{
    color: #07d;
}

.logo{
    margin: 0px;
    padding: 0px;
    border:0px;
    font:inherit;
    font-size: 100%;
    vertical-align: baseline;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;}

.header ul{
    list-style-type: none;
}

.header .header-container{
    box-sizing: border-box;
    margin: 0 auto;
    width: 1100px;
    height: 70px;
    zoom: 1;
}

.header .header-container:after{
    display: tabel;
    clear: both;
}

.header .header-container .logo{
    display: inline-block;
    width: 72px;
    height: 25px;
    margin-top: 22.5px;
    background-size: 72px 25px;
    background-image:url("https://img.yzcdn.cn/public_files/2016/11/29/8fc4cd6f771897cbf9663166a63a5302.png");
}

.header .header-container .nav-link-container{
    display: inline-block;
    width: 60px;
    margin-left: 6px;
    margin-bottom: -1px;
}

.header .header-container .nav-link-container .nav-link{
    float: left;
    width: 78px;
    color: #999;
    font-size: 10px;
    font-family: 'PingFang SC';
    font-weight: 300;
    line-height: 13px;
}

.header .header-container .nav-list{
    float: right;
    zoom: 1;
}

.header .header-container .nav-list::after{
    display: table;
    clear:both;
}

.header .header-container .nav-list>li{
    float: left;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    padding: 0px 20px;
}

.header .header-container .nav-list > li .product-center{
    text-decoration: none;
    color: #2c3a46;
}

.header .header-container .nav-list > li .product-center:hover{
    color: #FF4444;
}

.header .header-container .nav-list .caret-margin{
    margin-right: 16px;
}

.header .header-container .nav-list .current-highlight{
    color: #FF4444 !important;
}

.header .header-container .nav-list .current-highlight  .caret:after{
    border-top-color: #FF4444;
}

.header .header-container .nav-list .product-dropdown{
    z-index: 200;
}

.header .header-container .nav-list .product-dropdown div.active{
    background: #f8f8f8;
}

.header .header-container .nav-list .product-dropdown:hover .caret:after{
    border-top-color: #FF4444;
}

.header .header-container .nav-list .product-dropdown:hover .dropdown-menu-wrapper{
    transform: rotate3d(0,0,0,0deg);
    transform-origin: 50% 0%;
}

.header .header-container .last_logo_common{
    padding: 0px 0px 0px 10px;
}

.header .header-container .last_register_common{
    padding: 0px 0px 0px 10px;
}



.banner-container .pic-container .bgpic .bgpic-text{
    position: absolute;
    width: 1100px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
/* 
.zong-container{
    width: 100%;
    height: 100%;
}

.zong-container{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

 */


.banner-container{
    /* border: 1px solid red; */
    height:420px;
}

.bgpic{
    z-index: 1;
    background-image: url("http://img.yzcdn.cn/intro/img/banner3/3x.png");
}

.pic-container{
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-sizing: content-box;
}


.pic-container .bgpic{
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50%;
}

.bgpic-text{
    position: absolute;
    width: 1100px;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.pic-container .bgpic-text{
    font-size: 44px;
    margin: 100px 0 7px;
    line-height: 62px;
}

.pic-container .bgpic-text p{
  font-size: 20px;
  color: #fff;
  margin-bottom: 5px;
}

.bgpic-text{
  margin:80px 0px 0px 250px
}

.header .header-container .btn-login:hover{
    background-color: #2b90ed;
    color: #fff;
}

a.pink-button{
    color: #eb737f;
}

a.pink-button{
    background-color: #fff;
    padding: 12px 42px;
    font-size: 14px;
    text-decoration: none;
    border-radius: 2px;
}

.pic-container .bgpic-text h3{
    color: #fff;
}

.banner-container .pic-container .bgpic-text{
    margin-left: 210px;
}


/* .zong-container .pic-button{
    visibility: hidden;
} */
.banner-container .pic-button{
    width: 1100px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.banner-container .button-left{
    z-index: 100;
    right: 1130px;
    left: auto;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-image: url(https://img.yzcdn.cn/static/intro/img/newIndex/L.png);
}

.button-left .button-right{
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    background-size: 27px 44px;
    background-position: 50%;
    background-repeat: no-repeat;
}

.banner-container .button-right{
    left: 1130px;
    right: auto;
    width: 60px;
    height: 60px;
    background-size: 100% 100%;
    background-image: url(https://img.yzcdn.cn/static/intro/img/newIndex/R.png);
}

.main-container{
    height: 620px;
}

.main-container .main-container-thing{
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
    zoom: 1;
}

.main-container .main-container-thing h3{
    font-family: PingFangSC-Medium;
    font-size: 28px;
    color: #333;
    letter-spacing: 0;
}

.main-container .main-container-thing h3{
    text-align: center;
    font-size: 28px;
    color: #333;
    line-height: 40px;
    padding-top: 90px;
}

.main-container .main-container-thing .main-container-dx{
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 70px;
}

.main-container .main-container-thing .main-container-dx .dx-left{
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -moz-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.main-container .main-container-thing .main-container-dx .dx-left .dx-card{
    margin-bottom: 28px;
}

.main-container .main-container-thing .main-container-dx .dx-left .dx-card .dx-cardtitle{
    color: #333;
    font-size: 18px;
    line-height: 24px;
    font-family: PingFangSC-Medium;
    letter-spacing: 0;
}



.main-container .main-container-thing .main-container-dx .dx-left .dx-card .dx-cardmain{
    margin-top: 5px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #999;
    letter-spacing: 0;
    line-height: 24px;
}

.b{
    margin-right: 15px;
}

.main-container a.b{
    background-color: #38f;
    color: #fff;
}

.main-container a.button{
    font-size: 14px;
    padding: 10px 42px;
    border-radius: 2px;
    display: inline-block;
}

a.button{
    text-decoration: none;
}

.b-outline{
    margin-left: 15px;
}

.main-container a.b-outline{
    border: 1px solid #38f;
    color: #38f;
    padding: 9px 42px;
}

.main-container a.button{
    font-size: 14px;
    padding: 10px 42px;
    border-radius: 2px;
    display: inline-block;
}

.main-container .main-container-thing .main-container-dx .dx-right{
    width: 615px;
}

.last_login_common{
    padding: 0px 0px 0px 20px !important;
    float: left;
    display: inline-block;
    height: 70px;
    line-height: 70px;
}

.last_register_common{
    padding: 0px 0px 0px 10px !important;
    float: left;
    display: inline-block;
    height: 70px;
    line-height: 70px;
}
